# 996 官方可以下载到
/996M2引擎帮助文档.chm
/DBServer/DBServer.exe
/DBServer/DBServer.map
/GameCenter.exe
/LoginGate/BlockIPList.txt
/LoginGate/Config.ini
/LoginGate/Key/dh2048.pem
/LoginGate/libcrypto-1_1.dll
/LoginGate/libcrypto-3-x64.dll
/LoginGate/libeay32.dll
/LoginGate/libssl-1_1.dll
/LoginGate/libssl-3-x64.dll
/LoginGate/LoginGate.exe
/LoginGate/msvcr120.dll
/LoginGate/ssleay32.dll
/LoginGate/wslib.dll
/LoginGate/wslib_x64.dll
/LoginSrv/LoginSrv.exe
/Mir200/cjson.dll
/Mir200/clibs/cjson.dll
/Mir200/libtcmalloc.dll
/Mir200/lua5.1.dll
/Mir200/M2Server.exe
/Mir200/M2Server.map
/Mir200/mimalloc-redirect.dll
/Mir200/mimalloc.dll
/Mir200/RunGate.dll
/Mir200/Setup.json
/RunGate/RunGate.dll
/RunGate/RunGate.exe
/RunGate/RunGate.map
/RunGateH5/Key/dh2048.pem
/RunGateH5/Key/Server.crt
/RunGateH5/Key/Server.key
/RunGateH5/libcrypto-1_1.dll
/RunGateH5/libcrypto-3-x64.dll
/RunGateH5/libeay32.dll
/RunGateH5/libssl-1_1.dll
/RunGateH5/libssl-3-x64.dll
/RunGateH5/msvcr120.dll
/RunGateH5/RunGate.ini
/RunGateH5/RunGateH5.exe
/RunGateH5/ssleay32.dll
/RunGateH5/wslib.dll
/RunGateH5/wslib_x64.dll
/sql/all/struct.sql
/sql/update/patch.sql
/SQL数据库脚本/使用说明.txt
/SQL数据库脚本/数据库更新脚本/1.png
/SQL数据库脚本/数据库更新脚本/2.png
/SQL数据库脚本/数据库更新脚本/patch.sql
/SQL数据库脚本/整套数据库/struct.sql
/TXT调用lua基础方法/设置取出怪物临时变量/LuaFunc-0.lua
/TXT调用lua基础方法/设置取出怪物临时变量/LuaFuncList.txt
/TXT调用lua基础方法/设置取出怪物临时变量/QFunction-0.txt
/工具/996M2资源集成工具.zip
/工具/996资源转换.zip
/工具/GOM引擎PAK批量导出.zip
/工具/H5工具.zip
/工具/三端传统PC工具/传统PC导图工具.rar
/工具/三端传统PC工具/传统PC资源编辑器1.4.zip
/工具/数据库转换工具.zip
/开始更新程序.bat
/相关脚本/主界面按钮/Envir/MapQuest_def/QManage.txt
/相关脚本/主界面按钮/Envir/Market_Def/QFunction-0.txt
/相关脚本/主界面按钮/Envir/QuestDiary/主界面基础按钮/主界面基础按钮QF.txt
/相关脚本/主界面按钮/Envir/QuestDiary/主界面基础按钮/主界面基础按钮QM.txt
/相关脚本/主界面按钮.rar
/相关脚本/自动挂机.rar
/相关脚本/货币记录.rar
/表格更新.exe
/表结构/全部表/cfg_boss_drop.xls
/表结构/全部表/cfg_bubble.xls
/表结构/全部表/cfg_buff.xls
/表结构/全部表/cfg_chat_drop.xls
/表结构/全部表/cfg_equip.xls
/表结构/全部表/cfg_item.xls
/表结构/全部表/cfg_level.xls
/表结构/全部表/cfg_levelng.xls
/表结构/全部表/cfg_magic.xls
/表结构/全部表/cfg_magiccustom.xls
/表结构/全部表/cfg_magicinfo.xls
/表结构/全部表/cfg_model_info.xls
/表结构/全部表/cfg_monattack.xls
/表结构/全部表/cfg_mongen.xls
/表结构/全部表/cfg_monster.xls
/表结构/全部表/cfg_newtask.xls
/表结构/全部表/cfg_npclist.xls
/表结构/全部表/cfg_petlevel.xls
/表结构/全部表/cfg_recycling.xls
/表结构/全部表/cfg_redpoint.xls
/表结构/全部表/cfg_skill_present.xls
/表结构/全部表/cfg_startpoint.xls
/表结构/全部表/cfg_store.xls
/表结构/全部表/~$cfg_recycling.xls
/表结构/可视化配置表/cfg_att_score.xls
/表结构/可视化配置表/cfg_auction_type.xls
/表结构/可视化配置表/cfg_box.xls
/表结构/可视化配置表/cfg_buff.xls
/表结构/可视化配置表/cfg_custpro_caption.xls
/表结构/可视化配置表/cfg_damage_number--带亿万单位.xls
/表结构/可视化配置表/cfg_damage_number.xls
/表结构/可视化配置表/cfg_game_data.xls
/表结构/可视化配置表/cfg_kuafuval.xls
/表结构/可视化配置表/cfg_magicinfo.xls
/表结构/可视化配置表/cfg_mapdesc.xls
/表结构/可视化配置表/cfg_menulayer.xls
/表结构/可视化配置表/cfg_model_info.xls
/表结构/可视化配置表/cfg_pick_set.xls
/表结构/可视化配置表/cfg_setup.xls
/表结构/可视化配置表/cfg_skill_present.xls
/表结构/可视化配置表/cfg_sound.xls
/表结构/可视化配置表/cfg_suit.xls
/表结构/可视化配置表/删除配置说明.txt
/表结构/更新表/cfg_att_score.xls
/表结构/更新表/cfg_buff.xls
/表结构/更新表/cfg_equip.xls
/表结构/更新表/cfg_magic.xls
/表结构/更新表/cfg_model_info.xls
/表结构/更新表/cfg_npclist.xls
/表结构/更新表/表更新说明(必看).txt
/请务必使用引擎最配套最新说明书.txt

# 临时不管它

# Log
/Log
/DBServer/DBServer.log
/DBServer/Log
/LoginGate/Log
/LoginGate/LoginGate.log
/RunGate/Log
/RunGateH5/Log
/Mir200/Log
/Mir200/GameGuard/Log
# 自动生成文件
/GCConfig.ini
/DBServer/!addrtable.txt
/DBServer/!serverinfo.txt
/DBServer/dbsrc.ini
/DBServer/IPList.txt
/LoginSrv/Logsrv.ini
/RunGate/config.ini